<div class="about">
  <h3>About us:</h3>
  <ul>
    <li>Address: Ukraine, Kyiv, Pizzerijna st. </li>
    <li>Phone number: <a href="tel:380-000-000000">+380000000000</a></li>
    <li>Email: fastpizza@gmail.com</li>
  <ul/>
</div>