<div class="admin-panel">
  <form action="add-item" method="post">
    <p>Name:</br>
      <input type="text" name="goods_name" placeholder="Pizza!" />
    </p>
    <p>Price:</br>
      <input type="number" name="price" placeholder="20" />
    </p>
    </br>
    <input type="submit" name="submit">
  </form>
</div>